#top{
    display: none;
    
}

#top-show{
    display: unset;
    width: 98%;
    height: 26px;
    color: white;
    background-color: #0B0B0B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    text-align: center;
    margin-top: -50px;
    margin-left: -5px;
    object-fit: cover;
    position: fixed;
}


#top-show img{
    display: none;
    width: 10px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding-left: 10px;
    padding-right: 10px;
}

#nav{
    display: unset;
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-left: -5px;
    margin-top: -24px;
}

#nav h1{
    display: unset;
    margin-right: 28px;
    font-size: 30px;
}

.nav-list ul{
    display: none;
}


.nav-list{
    display: none;
}


.nav-icon{
    display: none;
}

.header{
    display: unset;
    border-right: none;
    width: 60%;
    margin-left: 0px;
    margin: auto;
    /* text-align: center; */
}

.menu{
    display: unset;
    width: 20%;
    font-size: 13px;
    text-align: center;
    border-right: 2px solid #F4F4F6;
}

.basket{
    width: 20%;
    display: unset;
    font-size: 13px;
    text-align: center;
    border-left: 2px solid #F4F4F6;
}

#main{
    display: unset;
    width: 100%;
}

.main-text{
    width: 100%;
    background-color: #FAFAFA;
    margin-left: 0%;
    padding-top: 15px;
    text-align: center;
}

.main-text h2{
    font-size: 30px;
}

.main-pic img{
    width: 100%;
}

.p1{
    width: 60%;
    margin: auto;
    font-size: 15px;
}

.trust{
    display: none;
}

.btn{
    margin-top: 15px;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.bt1{
    margin: auto;
}

.bt2{
    margin: auto;
}


.brands{
    display: unset;
    display: flex;
}


.pic-info1{
    display: unset;
    height: 100%;
}

.info-left{
    width: 100%;
    height: 320px;
    margin-top: -80px;
    padding-top: 0px;
}

.info-leftext h2{
    width: 220px;
}


.info-leftext{
    height: 260px;
    padding: 20px;
    margin-left: -5px;
}
.info-p{
    /* background-color: pink; */
    width: 250px;
    height: 120px;
}

.info-p p{
    width: 230px;
    font-size: 15px;
}

.info-right{
    width: 100%;
    height: 330px;
    margin-top: -50px;
}

.info-rightext{
    width: 80%;
    height: 215px;
    padding: 20px;
    margin-left: -5px;
}

.info-rightext h2{
    width: 220px;
}

.info-rightext p{
    font-size: 15px;
}

.right-p1{
    width: 320px;
}


.right-p2{
    width: 320px;
}

.bt3{
    margin-left: -0px;
    margin-top: -0px;
}



.lady-pics{
    display: none;
}

.lady-text{
    /* background-color: plum; */
    height: 500px;
    width: 100%;
}

.lady-textarea{
    /* background-color: palevioletred; */
    height: 500px;
    width: 95%;
    margin-left: -0px;
    padding-left: 15px;
}

.lady-p{
    line-height: 25px;
    font-size: 15px;
}

.lady-header1{
    display: none;
}

.lady-header2{
    display: unset;
}

.lady-list p{
    font-size: 12px;
}


.lady-header2 h2{
    width: 100%;
    font-size:28px;
}


#man{
    width: 100%;
    height: 100%;
    display: unset;
    display: flex;
    flex-direction: column;
}

.man-header{
    display: none;
}

#man h2{
    width: 237px;
    font-size: 28px;
}

.man-pics{
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.man-header2{
    display: unset;
}


.man-p{
    line-height: 25px;
    font-size: 15px;
}

.man-text{
    width: 100%;
    /* background-color: plum; */
    height: 500px;
}

.man-textarea{
    width: 86%;
    margin-left: -0px;
    padding-left: 15px;
}

.man-list p{
    font-size: 12px;
}

#black-bg{
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 100%;
    margin-top: 30px;
    padding-right: 26px;
}

#black-bg img{
    padding-left: 20px;
}

.sub1{
    width: 100%;
    padding-bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
}


.sub2{
    width: 100%;
    padding-top: -0px;
    margin-top: -10px;
}


.sub3{
    width: 100%;
    padding-top: 5px;
    margin-top: -10px;
    padding-bottom: 15px;
}

.sub1 p{
    padding-right: 10px;
}


.sub2 p{
    padding-right: 10px;
}


.sub3 p{
    padding-right: 10px;
}


#reg{
    display: unset;
}

#reg h2{
    width: 85%;
    font-size: 28px;
}

.diet-box2{
    display: unset;
    width: 99%;
    height: 400px;
    margin-left: 2px;
}


.diet-box1{
    display: none;
}

.diet-head p{
    font-size: 13px;
}


.diet-box3{
    display: none;
}

.diet-p{
    line-height: 25px;
    font-size: 15px;
}


#order{
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    margin-top: 100px;
}

.hover-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.order-box{
    width: 160px;
    height: 260px;
    margin-bottom: 15px;
}

#order h2{
    width: 80%;
    margin-left: 30px;
    font-size: 32px;
}

.bt5{
    margin-left: 30px;
}

.meal-stars{
    display: none;
}


.meal-text h2{
    font-size: 28px;
    width: 230px;
    margin-top: 50px;
    padding-bottom: 25px;
}

.meal-text{
    width: 238px;
    height: 300px;
    margin-left: 15px;
}

.meal-names{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.under-t{
    width: 240px;
    padding-bottom: 20px;
}


.KB{
    width: 100%;
    margin-left: -0px;
    margin-top: 250px;
}

.PR{
    width: 100%;
    margin-top: 30px;
}

.CS{
    display: none;
}

#fame{
    width: 100%;
    height: 100%;
    margin-top: 300px;
    padding-top: 35px;
}

.fame-1h2{
    display: none;
}


.fame-2h2{
    display: unset;
    width: 70%;
    font-size: 30px;
    line-height: 40px;
}


.fame-pics{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#fame img{
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
}

#fame p{
    display: none;
}

#sign{
    width: 100%;
    margin-top: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.sign-btn{
    width: 80%;
    margin-top: 30px;
}

.sign-up{
    width: 100%;
}

.btn-text p{
    width: 100%;
}

.btn-p{
    padding-bottom: 40px;
    width: 90%;
    font-size: 12px;
}

.btn-p p{
    width: 80%;
}

.vip{
    margin-left: -0px;
    width: 90%;
}

.vip h2{
    width: 250px;
    font-size: 24px;
}

.vip p{
    width: 80%;
    font-size: 15px;
}

#country{
    display: none;
}


#footer{
    width: 100%;
    padding-right: 5px;
}

#footer h2{
    margin: auto;
    margin-left: 50px;
}

.footer-list{
    width: 97%;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.footer-list p{
    width: 100%;
    font-size: 11px;
}

.about{
    width: 130px;
    padding-left: 10px;
}

.help{
    display: none;
}
